.App {
  margin: 0 auto;
  max-width: 800px;
}
.container {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  border-radius: 18px;
  padding: 15px;
  line-height: 1.15;
  max-width: 800px;
}
.Apptitle {
  margin-left: 20px;
  opacity: 0.8;
}
.Weather {
  font-style: normal;
}
.footer {
  margin-left: 35px;
  padding: 1px;
}
