.iconcirclemini {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #f4f4f4;
  margin: 12px 20px;
}
.gradientsmall {
  margin-top: 20px;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background: linear-gradient(-25deg, transparent, rgba(255, 255, 255, 0.4));
  background-blend-mode: screen;
  z-index: 10;
}
h4 {
  text-align: left;
  margin-left: 12px;
  margin-bottom: 15px;
  line-height: 1;
  opacity: 0.8;
}
