.forecast-title {
  margin: 10px;
}
.weeklyforecast {
  display: center;
  padding: 7px;
  white-space: nowrap;
  margin-left: 3px;
  top: 0px;
  transform: translate3d(0px, 0px, 0px);
  transition: -webkit-transform 0ms ease-in-out 0s;
}

.WeatherForecastPreview {
  line-height: 30px;
}
.temp-min-max {
  line-height: 1.1;
  margin-top: 7px;
  margin-bottom: 12px;
}
.hours {
  text-align: left;
  margin-left: 12px;
  margin-top: 7px;
  margin-bottom: 12px;
  line-height: 1;
}
