.feels,
.humidity,
.wind {
  list-style: none;
  text-align: left;
  margin-left: -28px;
  line-height: 1.1;
}
.weathercondition {
  text-align: left;
  margin-left: 12px;
  line-height: 0.8;
}
.location {
  text-align: left;
  margin-left: 12px;
  line-height: 0.8;
  font-weight: bolder;
  opacity: 0.8;
}
.weathertimedate {
  text-align: left;
  margin-left: 12px;
  font-size: 20px;
  line-height: 1.2;
}
.main-icon canvas {
  margin-left: 12px;
  width: 80px;
}
.temperature {
  float: left;
  font-size: 64px;
  margin-top: 10px;
  opacity: 0.8;
  line-height: 50px;
}
.unit {
  margin-top: 10px;
  float: left;
}
