.Parameters {
  list-style: none;
  margin-top: 25px;
  font-size: 16px;
  text-align: left;
  line-height: 1.1;
  margin-left: 130px;
  opacity: 0.8;
}
.weathercondition {
  text-align: left;
  opacity: 0.8;
  margin-left: 20px;
  line-height: 0.8;
}
.location {
  text-align: left;
  margin-left: 20px;
  line-height: 0.9;
  font-weight: 500;
  opacity: 0.8;
}
.weathertimedate {
  text-align: left;
  margin-left: 20px;
  font-size: 18px;
  line-height: 1.1;
}
.main-icon canvas {
  margin-left: 25px;
  margin-top: 15px;
  width: 80px;
}
.weather-temperature {
  float: left;
  font-size: 64px;
  opacity: 0.8;
  font-weight: 400;
  margin-left: -5px;
  margin-top: 10px;
}
.unit {
  font-size: 14px;
  left: 3px;
  top: -38px;
  position: relative;
}
