.form-control {
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.Container h1 {
  text-align: left;
  margin-left: 12px;
}
.btn {
  margin-top: 15px;
  cursor: pointer;
}
