.form-control {
  margin-top: 12px;
  margin-left: 12px;
  margin: 20 auto;
  margin-bottom: 15px;
}
.form-control:hover {
  cursor: pointer;
  transition: transform 0.2s;
}
.Container h1 {
  text-align: left;
  margin-left: 12px;
}
.btn {
  margin-top: 12px;
  cursor: pointer;
}
